:root {
  --background: oklch(0% 0 0);
  --foreground: oklch(92% 0.005 270);
  --foreground-secondary: oklch(60% 0.01 270);

  --surface: oklch(14% 0.005 270);
  --surface-hover: oklch(18% 0.01 270);

  --secondary: oklch(17.878% 0.00756 229.488);

  --border: oklch(100% 0 0 / 0.08);
  --border-strong: oklch(100% 0 0 / 0.15);

  --accent: oklch(70% 0.2 260);

  --border-radius: 1rem;
}

html, body {
  background: var(--background);
  color: var(--foreground);
  padding: 0; margin: 0;
}

#start-overlay {
  position: fixed;
  inset: 0;
  z-index: 100;
  background: color-mix(in oklch, var(--background) 15%, transparent);
  backdrop-filter: blur(1px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#start-overlay .modal {
  background: var(--secondary);
  border: 2px solid var(--border);
  border-radius: var(--border-radius);
  padding: 48px 64px;
  text-align: center;
}

.sidebar {
  height: 100vh;
  background: var(--surface);
  border-right: 2px solid var(--border-strong);
  width: 75px;
}

.content {
  display: flex;
  padding: 0; margin: 0;
}